
<h1>All My Wikis</h1>
<h4>Hot Tags</h4>
    <span class="box" id="tag_cloud">
  <% tag_cloud @wikis.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</span>
<hr>
<%= render partial: 'wikis/wikis', locals: { wikis: @wikis } %> 

<% if current_user.private_wikis > 0 %>

<h3>My Private Wikis</h3>
<hr>
<%= render partial: 'wikis/wikis', locals: { wikis: @pwikis } %> 
<% end %>
