<h1>My Wikis</h1>
<%= render partial: 'wikis/wikis', locals: { wikis: @wikis } %> 

<% if current_user.private_wikis > 0 %>
<h1>My Private Wikis</h1>
<%= render partial: 'wikis/wikis', locals: { wikis: @pwikis } %> 
<% end %>