<h1>About G-WIKI</h1>
<p>SaaS Wiki Collaboration Tool developed by Gabriel Sarmiento with the help of my mentor Aaron Brongersma</p>
<h3>Key Features you'll see in G-Wiki</h3>
<ul>
  <li>Start building a wiki repository in no time</li>
  <li>Keep things personal and private - Starting at $5/month</li>
  <li>As a user, You should be able to sign up for a free account by providing a user name, password and email address.</li>
  <li>As a user, You will be able to sign in and out</li>
  <li>As a user with a free plan, You will be able to create public wikis that anyone may view.</li>
  <li>As a user with a free plan, You will be able to create wiki pages using Markdown syntax.</li>
  <li>As a user you will be able to upgrade your account from a free plan to a paid basic or plan so that you can create as many private wikis as you want.</li>
  <li>You will be able to pay using a Credit Card with all the security provided by Stripe. The only information we'll keep is the 4 last digits of your credit card and the expiration date so we can remind you when your card is about to expire te rest is handled by Stripe. </li>
  <li>It would be sad to not reach your expectations, but you can cancel your subscription and your account at anytime. Even if you are not satisfied with the service you can ask for a refund. </li>
  <li>As a user with a paid account, You will be able to create private wikis that require an user to register on G-Wiki with a proper authorization to view.</li>
  <li>As a user with a basic or pro plan, You will be able to add collaborators to your private wikis.</li>
  <li>As a user with a basic or pro plan, You will be able to add an unlimited number of collaborators to your wikis.</li>
</ul>
