<h1>Welcome to G-Wiki </h1>
<ul>
  <li>
    <div>
      Start building a wiki repository in no time 
    </div>
  </li>
  <li>
    <div>
      Keep things personal - Starting at $5/month
    </div>
  </li>
  <li>
    <div>
      Advanced features such as Markdown posts, Revision history and unlimited data storage, all included!
    </div>
  </li>
  <div class="row"><%= link_to "Sign Up", new_user_registration_path, class: 'button small radius' %> Today!</div>
</ul>
