<h1 class="text-center">Welcome to G-Wiki </h1>
<br>
<p class="text-center">A service to create unlimited public Wikis and only pay for those wikis that you want to keep private only for your access and your collaborators.</p>
<br>
<div id="welcome" class="span7 text-center" > 
  <h3 >Try a subscription plan </h3>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="large-4 columns">
      <ul class="pricing-table">
        <li class="title">Free Plan</li>
        <li class="description">Requires credit card authentication.</li>
        <li class="bullet-item">Unlimited public wikis</li>
        <li class="bullet-item">1 private wiki a month</li>
        <li class="price"><small>$0.00/month</small></li>
        <li class="cta-button"> <%= link_to 'Try Now', new_user_registration_path(:plan => 'free'), :class => 'button small radius' %></li>
      </ul>
    </div>
    <div class="large-4 columns">
      <ul class="pricing-table">
        <li class="title">Basic</li>
        <li class="description">Requires credit card authentication.</li>
        <li class="bullet-item">Unlimited public wikis</li>
        <li class="bullet-item">20 private wikis a month</li>
        <li class="price"><small>$8.99/month</small></li>
        <li class="cta-button"> <%= link_to 'Buy Now', new_user_registration_path(:plan => 'basic'), :class => 'button small radius' %></li>
      </ul>
    </div>
    <div class="large-4 columns">
      <ul class="pricing-table">
        <li class="title">Pro</li>
        <li class="description">Requires credit card authentication.</li>
        <li class="bullet-item">∞ public wikis</li>
        <li class="bullet-item">∞ private wikis</li>
        <li class="price"><small>$19.99/month</small></li>
        <li class="cta-button"> <%= link_to 'Buy Now', new_user_registration_path(:plan => 'basic'), :class => 'button small radius' %></li>
      </ul>
    </div>
  </div>
</div>
