<h1>Welcome to G-Wiki </h1>
<ul class="carrousel-orbit" data-orbit>
  <li>
    <%= image_tag "/assets/launch-orbit.jpg" %>
    <div class="orbit-caption">
      Start building a wiki repository in no time 
    </div>
  </li>
  <li>
    <%= image_tag "/assets/andromeda-orbit.jpg" %>
    <div class="orbit-caption">
      Keep things personal - Starting at $5/month
    </div>
  </li>
  <li>
    <%= image_tag "/assets/satelite-orbit.jpg" %>
    <div class="orbit-caption">
      Advanced features such as Markdown posts, Revision history and unlimited data storage, all included!
    </div>
  </li>
</ul>
