<h1>Welcome to G-Wiki </h1>
<ul>
  <li>
    <div>
      Start building a wiki repository in no time 
    </div>
  </li>
  <li>
    <div>
      Keep things personal and private - Starting at $5/month
    </div>
  </li>
  <li>
    <div>
      Advanced features such as Markdown posts, Revision history and unlimited data storage, all included!
    </div>
  </li>
</ul>

<div id="welcome" class="span7">
  <h3>G-WIKI Subscriptions.</h3>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="large-4 columns">
      <ul class="pricing-table">
        <li class="title">Free Plan</li>
        <li class="description">Requires credit card authentication.</li>
        <li class="bullet-item">Unlimited public wikis</li>
        <li class="bullet-item">1 private wiki a month</li>
        <li class="price"><small>$0.00/month</small></li>
        <li class="cta-button"> <%= link_to 'Try Now', new_user_registration_path(:plan => 'free'), :class => 'button small radius' %></li>
      </ul>
    </div>
    <div class="large-4 columns">
      <ul class="pricing-table">
        <li class="title">Basic</li>
        <li class="description">Requires credit card authentication.</li>
        <li class="bullet-item">Unlimited public wikis</li>
        <li class="bullet-item">20 private wikis a month</li>
        <li class="price"><small>$8.99/month</small></li>
        <li class="cta-button"> <%= link_to 'Buy Now', new_user_registration_path(:plan => 'basic'), :class => 'button small radius' %></li>
      </ul>
    </div>
    <div class="large-4 columns">
      <ul class="pricing-table">
        <li class="title">Pro</li>
        <li class="description">Requires credit card authentication.</li>
        <li class="bullet-item">∞ public wikis</li>
        <li class="bullet-item">∞ wikis a month</li>
        <li class="price"><small>$19.99/month</small></li>
        <li class="cta-button"> <%= link_to 'Buy Now', new_user_registration_path(:plan => 'basic'), :class => 'button small radius' %></li>
      </ul>
    </div>
  </div>
</div>
