<table class="responsive">
<thead>
  <tr>
      <th width="200">Wikiname</th>
      <th width="250">Description</th>
      <th width="130">Update</th>
      <th width="100">Tags</th>
    </tr>
</thead>
<tbody>
<% wikis.each do |wiki| %>
<% if can? :read, wiki %>
<tr>
  <td><%= link_to wiki.wikiname, wiki %></td>
  <td><%= wiki.description %></td>
  <td><%= time_ago_in_words(wiki.updated_at) %></td>
  <td><%= raw wiki.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
</tr>
<% end %>
<% end %>
</tbody>
</table>