<table>
<% wikis.each do |wiki| %>
<% if can? :read, wiki %>
<tr>
  <td><%= link_to wiki.wikiname, wiki %></td>
  <% if can? :edit, wiki %>
  <td><%= link_to "Edit", edit_wiki_path(wiki) %></td>
  <% end %>
</tr>
<% end %>
<% end %>
</table>