<h1>All Wikis</h1>

<table>
<% @wiki.each do |wiki| %>
<tr>
  <td><%= link_to wiki.wikiname, wiki %></td>
  <% if can? :edit, wiki %>
  <td><%= link_to "Edit", edit_wiki_path(wiki) %></td>
  <% end %>
  <% if can? :destroy, wiki %>
  <td><%= link_to " Delete", wiki , method: :delete, confirm: 'Are you sure you want to delete this Wiki?' %></td>
  <% end %>
</tr>
<% end %>
</table>