<% if can? :manage, Wiki %>
  <h1>Add collaborators</h1>

  <%= simple_form_for @collaboration,  url: {action: "create"}, html: {class: "collaboration-form"} do |f| %>
  
  <%= collection_select(:collaboration, :user_id, User.all, :id, :username, options ={:prompt => "Select a collaborator"}) %>


    <%= f.submit "Save", class: "button small radius" %>
  <% end %>
<% end %>