<h1>hello world</h1>

<%= simple_form_for @collaboration,  url: {action: "create"}, html: {class: "collaboration-form"} do |f| %>
<table>
  <% @user.each do |u| %>
  <tr>
    <td><%= u.username %></td>
    <td><%= check_box_tag ("user_ids"), u.id %></td>
  </tr>
  <% end %>
</table>
  <%= f.submit "Save" %>
<% end %>