<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "G-WIKI", root_path %></h1>          
    </li>
  </ul>
  
  <section class="top-bar-section" >
    <% if current_user %>
      <%= form_tag wikis_path, method: :get do %>
        <ul class= "left">
          <li class="has-form">
            <div class="row collapse">
              <div class="large-11 small-9 columns small-offset-2">
                <%= search_field_tag :query, params[:query] , placeholder: 'Search wikis and content', size: 50, style: "border-radius: 1em;" %>
              </div>
            </div>
          </li>
        </ul>
      <% end %>
    <% end %>
    <% unless current_user %>
      <ul class="right">
        <li> <%= link_to "Already a Subscriptor?", new_user_session_path %></li>
      </ul>
    <% end %>
  </section>
</nav>